/*couponprodcuct*/
/*head*/
body {
  width: 100%;
  background-color: #f1f1f1;
}
.head {
  background-color: #f4483e;
  color: #fff;
  height: 44px;
  width: 100%;
  position: relative;
}
.head .back {
  width: 50px;
  text-align: center;
  font-size: 24px;
  line-height: 44px;
  font-family: "宋体";
  font-weight: bold;
  float: left;
  position: relative;
}
.head .back a {
  display: block;
  color: #fff;
}
.head h1 {
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
}
.head .home {
  width: 50px;
  height: 44px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.head .home .icon-app {
  display: block;
  height: 44px;
  background-image: url("../images/header_app.png");
  width: 50px;
  background-repeat: no-repeat;
  margin-top: 5px;
  background-size: 32px;
}
/*coupon*/
.conproduct {
  background-color: #fff;
  max-width: 960px;
}
.conproduct .cou-title {
  font-size: 12px;
  text-align: center;
  color: #999;
  margin: 8px 0px;
}
.conproduct .cou-list ul li {
  bordr-bottom: 1px solid #e7e7e7;
  position: relative;
}
.conproduct .cou-list ul li a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.conproduct .cou-list ul li a .pic {
  width: 100px;
  height: 80px;
  margin-right: 10px;
  float: left;
}
.conproduct .cou-list ul li a .pic img {
  width: 100% ;
  height: auto;
}
.conproduct .cou-list ul li a .info {
  padding-right: 30px;
  font-size: 14px;
  line-height: 24px;
}
.conproduct .cou-list ul li a .info .tit h3 {
  text-align: justify;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  line-height: 20px;
}
.conproduct .cou-list ul li a .info .time {
  font-size: 12px;
  color: #e70;
  margin-top: 10px;
}
